*{
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 2px;
    border: 1px solid black;
}
.nav{
     background-color:rgb(181, 237, 243);
     flex: 1;
}
.main{
    display: flex;
    flex-direction: column;
    flex: 5;
}
.content{
    display: flex;
    flex-direction: row;
}
.content > article{
    flex: 4;
    min-height: 70vh;
    font-size: large;
}
header{
    background-color: rgb(244, 190, 119);
    height: 20vh;
}
footer{
    background-color: rgb(241, 226, 207);
    height: 10vh;
    display: flex;
    gap: 30px;
}

header,footer,article,nav{
    padding: 1em;
}